.align-center {
  text-align: center;
}

.background-image {
  background-image: url('../image/BG_Officemate.jpg');
  padding-bottom: 10%;
  background-size: 100% 100%;
}

.header.align-center>h3 {
  font-size: 16px;
  margin: 5px;
  font-family: Prompt;
  font-weight: bold;   
  color: #fff;
}

.select select:active,.select select:focus {
  box-shadow: none;
  border-color: transparent;
}


span.select select {
  border-radius: 25px;
}

.form {
  padding: 15px 0;
}

label.label {
  font-size: 12px;
  color: #fff;
  font-family: Prompt;
  font-weight: 400;
}

.input:focus {
  border-color: transparent;
  box-shadow: none;
}

input.input {
  border-radius: 25px;
}

small.help.counter {
  display: none;
}

img.img-brandlogo {
  width: 55%;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #e00015;
}

.btn-submit {
  background-color: #e00015;
  border: none;
  border-radius: 25px;
  padding: 7px 28px;
  font-size: 17px;
  color: #fff;
  font-family: prompt;
  font-weight: 400;
}

.margin-t {
  margin-top: 20px;
}

@media screen and (min-width: 376px) {
  img.img-brandlogo {
    width: 60%;
  }
  .header.align-center>h3 {
    font-size: 19px;
  }
  label.label {
    font-size: 14px
  }
}

:focus {
  outline: none;
}